*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    width: 90%;
    height: 80px;
    padding-right: 20px;
    background-color: var(--cor-complementar);

    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

header img{
    margin-top: 10px;
    width: 300px;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    
    width: 100%;
}

.nav-links{
    position: absolute;
    right: 0;
    top: 25px;

    margin-right: 10vw;
}

.nav-links-mobile, .menu-toggle{
    display: none;
}

.nav-links-mobile{
    display: flex;
    flex-direction: column;
}

.nav-links-mobile img{
    display: none;
    width: 50px;
}

header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    
    width: 40%;
    list-style: none;
    gap: clamp(5%, 2vw, 30vw);
}

header #b1, #b2, #b3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 120px;
    height: 23px;
    
    border-radius: 20px;
    transition: 0.3s ease-in-out;    
}

#b1{
    background: linear-gradient(to right, var(--cor-secundaria), var(--cor-terciaria));
}

#b2{
    background: var(--cor-terciaria);
}

#b3{
    background: linear-gradient(to left, var(--cor-secundaria), var(--cor-terciaria));
}

header #b1:hover, #b2:hover, #b3:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 2px var(--cor-terciaria);
}

.nav-links #a1{
    font-family: var(--fonte-botao);
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    
    width: 100%;
    
    color: var(--cor-complementar);
    text-decoration: none;
    
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;

}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100vw;

    margin-top: 150px;
    padding: 50px;

    background-color: var(--cor-terciaria);
}

.hero img{
    width: 100%;
    height: auto;
    max-width: 800px;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container1 img{
    width: 100%;
    max-width: 300px;
    height: auto;
    
    border-radius: 100%;
}

.container1 article{
    max-width: 70%;
}

.container1 article h2{
    font-family: var(--fonte-subtitulo);
    font-weight: 400;
    
    font-size: 30px;
    margin-bottom: 20px;
}

.container1 article p{
    font-family: var(--fonte-texto);
    font-weight: 400;
    
    font-size: 16px;
    color: var(--cor-texto);
}
.secao1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 100px;

    background: linear-gradient(to top, var(--cor-terciaria), var(--cor-fundo));
    padding: 30px;
}

.secao1 #container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.secao1 .div1{
    position: relative;
    left: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    max-width: 25%;
    min-width: 250px;
    height: 400px;
    padding: 20px;
    
    border: solid 1px #00eeffa6;
    border-radius: 10px;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;   
    
}

.secao1 .div2{
    position: relative;
    left: -70px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    max-width: 25%;
    min-width: 250px;
    height: 400px;
    padding: 20px;
    
    border: solid 1px #00eeffa6;
    border-radius: 10px;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;   
    
}

.secao1 .div3{
    position: relative;
    left: 13%;    
    bottom: 150px ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    max-width: 400px;
    min-width: 250px;
    height: 200px;
    padding: 20px;
    
    border: solid 1px #00eeffa6;
    border-radius: 10px;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;   
    
}

.secao1 p, li{
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    
    color: var(--cor-complementar);
}

.secao1 ul{
    padding-left: 17px;
    margin-top: 15px;
    
}

.secao1 #container2 img{
    width: 100%;
    max-width: 500px;
    height: auto;
    
    border-radius: 20px;
    padding: 0;
    
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}

.container3 img{
    width: 80%;
    min-width: 270px;
    max-width: 850px;
    
    border-radius: 10px;
}

.container3 #imgArticle3{
    position: relative;
    top: -50px;
    
    max-width: 35%;
    min-width: 450px;
    padding: 20px;
    
    border: solid 1px #00eeffa6;
    border-radius: 10px;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;    
}

.container4{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}

.container4 img{
    width: 49%;
    min-width: 270px;
    max-width: 450px;
    
    border-radius: 10px;
}

.container4 #imgArticle{
    position: relative;
    left: 50px;
    
    max-width: 20%;
    min-width: 250px;
    padding: 20px;
    
    border: solid 1px #00eeffa6;
    border-radius: 10px;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;    
}

.container4 #imgArticle4{
    position: relative;
    left: 50px;
    bottom: 45px;
    
    max-width: 15%;
    min-width: 200px;
    padding: 20px;
    
    border: solid 1px #00eeffa6;
    border-radius: 10px;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;  
    
}

#imgArticle5{
    position: relative;
    top: -100px;
    left: 100px;

    max-width: 25%;
    min-width: 290px;
    padding: 20px;
    
    border: solid 1px #00eeffa6;
    border-radius: 10px;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;  
    
}

.secao3{
    display: grid;
    grid-template-areas: 
    "caixa1 caixa5"  
    "caixa2 caixa5"
    "caixa3 caixa6"
    "caixa4 caixa6";
    grid-template-columns: 60% auto;
    grid-template-rows: 300px 300px 300px 300px;
    gap: 30px;

    width: 100%;
    padding: 30px;
    background: linear-gradient(to bottom, var(--cor-terciaria), var(--cor-fundo));
    
}

.caixa_de_artigo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border: solid 1px #00eeffa6;
    border-radius: 10px;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;
}

#container1{
    padding: 50px;
    text-align: center;
    gap: 20px;

    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: var(--cor-complementar);    

    grid-area: caixa1;
}
#container1 img{
    max-width: 60%;
    min-width: 370px;
    padding: 20px;
}

#container2 li{
    text-align: start;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: var(--cor-complementar);  

    grid-area: caixa2;
}

#container2{
    padding: 50px;
    text-align: center;
    gap: 20px;

    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: var(--cor-complementar);  

    grid-area: caixa2;
}
#container2 img{
    max-width: 60%;
    min-width: 370px;
    padding: 20px;
}

#container3 li{
    text-align: start;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: var(--cor-complementar);  

    grid-area: caixa3;
}

#container3{
    padding: 50px;
    text-align: center;
    gap: 20px;

    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: var(--cor-complementar);

    grid-area: caixa3;
}
#container3 img{
    max-width: 60%;
    min-width: 370px;
    padding: 20px;
}

#container4{
    padding: 50px;
    text-align: center;
    gap: 20px;

    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: var(--cor-complementar);

    grid-area: caixa4;
}
#container4 img{
    max-width: 60%;
    min-width: 370px;
    padding: 20px;
}

#container5 li{
    text-align: start;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: var(--cor-complementar);  

    grid-area: caixa5;
}

#container5{
    padding: 50px;
    text-align: center;
    gap: 20px;

    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: var(--cor-complementar);

    grid-area: caixa5;
}
#container5 img{
    max-width: 40%;
    min-width: 160px;
}

#container6 li{
    text-align: start;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: var(--cor-complementar);  

    grid-area: caixa6;
}

#container6{
    padding: 50px;
    text-align: center;
    gap: 20px;

    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: var(--cor-complementar);

    grid-area: caixa6;
}
#container6 img{
    max-width: 40%;
    min-width: 150px;
}

.secao4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    background: linear-gradient(to top, var(--cor-terciaria), var(--cor-fundo));
    padding: 30px;
}

.secao4 #tipo{
    width: 15%;
    max-width: 100px;
    padding: 10px;
    
    border: solid 1px #00eeffa6;
    border-radius: 10px;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;
}

.secao4 .cards{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
}

.secao4 #card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    max-width: 100%;
    padding: 20px;
    
}

.secao4 #card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    max-width: 100%;
    padding: 20px;
    
}
.secao4  .img_card1{
    width: 500px;
    max-width: 100%;
    min-width: 200px;
    object-fit: cover; 
    height: auto;
    
    border-radius: 10px;
}
.secao4 .img_card2{
    max-width: 100%;
    width: 500px;
    min-width: 200px;
    object-fit: cover; 
    height: auto;
    
    border-radius: 10px;
}

.secao4 .cards h2{
    position: relative;
    top: 20px;

    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: var(--cor-complementar);
    
    width: 300px;
    padding: 20px;
    
    border-radius: 10px;
    border: solid 1px #00eeffa6;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;
}

.secao4 #card3 h2{
    margin-bottom: 10px;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    
    color: var(--cor-complementar);
}

.secao4 #card3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    gap: 20px;
    color: var(--cor-complementar);
}

.secao4 .boxs{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 90%;
    padding: 20px;
    padding-left: 50px;
    
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;

    border-radius: 10px;
    border: solid 1px #00eeffa6;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;
}

.secao5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.secao5 section{
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 90px;
}

.secao5 h2{
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-size: 20px;
    
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 33px;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    color: var(--cor-complementar);
    background-color: var(--cor-terciaria);
}

.secao6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: auto;
    padding: 30px;
    gap: 150px;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(to bottom, var(--cor-terciaria), var(--cor-fundo));
}

.secao6 #titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao6 h2{
    width: 130px;
    
    margin-bottom: 10px;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    
    color: var(--cor-complementar);
    padding: 10px;
    margin-bottom: 50px;
    
    border-radius: 10px;
    border: solid 1px #00eeffa6;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;
}

.secao6 h3{
    position: relative;
    left: 240px;
    bottom: 80px;
    
    width: 300px;
    
    margin-bottom: 10px;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    
    color: var(--cor-complementar);
    padding: 10px;
    margin-bottom: 50px;
    
    border-radius: 10px;
    border: solid 1px #00eeffa6;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;
}

.secao6 section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    height: 90px;
    padding: 50px;
}

.box_01 img{
    width: 100%;
    max-width: 300px;
    height: auto;
    
    border-radius: 10px;
}

.secao6 .box_02{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
    width: 100%;
    height: 100%;
    gap: 20px;
}

.box_02 h2{
    width: 100%;
    
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    
    padding: 10px;
    margin: 0px;
    
    border-radius: 10px;
    border: solid 1px #00eeffa6;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;
}

.box_02 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: start;
    
    color: var(--cor-complementar);
    padding: 10px;
    padding-left: 50px;
    
    border-radius: 10px;
    border: solid 1px #00eeffa6;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;
}

.secao7{
    width: 100%;
    height: auto;
    padding: 30px;
    gap: 150px;
    
    background: linear-gradient(to top, var(--cor-terciaria), var(--cor-fundo));   
}

.box_03{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    
}

.box_03 h2{
    width: 30%;
    
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    
    color: var(--cor-complementar);
    padding: 10px;
    margin-bottom: 50px;
    
    border-radius: 10px;
    border: solid 1px #00eeffa6;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;
}

.box_03 img{
    max-width: 25%;
    min-width: 250px;
    height: auto;
    
    border-radius: 10px;
}

.box_03 div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    
}

.box_03 .textos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    
    max-width: 100%;
    min-width: 250px;
    
}

.textos article{
    display: flex;
    align-items: center;
    
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    
    max-width: 25%;
    min-width: 250px;
    height: 120px;
    
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    
    border-radius: 10px;
    border: solid 1px #00eeffa6;
    
    color: var(--cor-complementar);
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;
}

.secao8{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
    width: 100%;
    height: auto;
    padding: 30px;
    
    background: linear-gradient(to bottom, var(--cor-terciaria), var(--cor-fundo));
}

.secao8 #container1{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#caixa1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#caixa1 img{
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    height: auto;
    
    padding: 0;
    
    border-radius: 10px;
}

#caixa1 h2{
    position: relative;
    top: -20px;
    width: 250px;
    
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    
    color: var(--cor-complementar);
    padding: 10px;
    margin-bottom: 50px;
    
    border-radius: 10px;
    border: solid 1px #00eeffa6;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;
}

#caixa2{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: start;
}

#caixa3{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;

    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: start;
}

#caixa2 article{
    color: var(--cor-complementar);
    padding: 10px;
    margin-bottom: 50px;
    
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border: solid 1px #00eeffa6;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;    
}

#caixa3 article{
    color: var(--cor-complementar);
    padding: 10px;
    margin-bottom: 50px;
    
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border: solid 1px #00eeffa6;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;
}

#caixa2 article p{
    margin-bottom: 20px;
}

#caixa3 article p{
    margin-bottom: 20px;
}

.secao9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: auto;
    padding: 30px;
    
    background: linear-gradient(to top, var(--cor-terciaria), var(--cor-fundo));
}

.secao9 h2{
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    
    color: var(--cor-complementar);
    padding: 10px;
    margin-bottom: 50px;
    
    border-radius: 10px;
    border: solid 1px #00eeffa6;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;
    
}

.secao9 img{
    width: 20%;
    min-width: 180px;
    
    border-radius: 10px;
}

.secao9 div{
    display: flex;
    justify-content: center;
    gap: 5%;

    margin-bottom: 50px;
}

.secao9  #caixa4{
    display: flex;
    justify-content: start;
    flex-direction: column;

    padding: 20px;
}
.secao9  ul{
    display: flex;
    justify-content: start;
    flex-direction: column;
    
    padding: 20px;

    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    
    color: var(--cor-complementar);
}

.secao10{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    background: linear-gradient(to bottom, var(--cor-terciaria), var(--cor-fundo));
    padding: 30px;
}

.secao10 .cards{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
}

.secao10 #card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    max-width: 100%;
    padding: 20px;
    
}

.secao10 #card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    max-width: 100%;
    padding: 20px;
    
}
.secao10 #card1 #img_card1{
    width: 400px;
    max-width: 100%;
    height: auto;
    
    border-radius: 10px;
}
.secao10 #card2 #img_card2{
    width: 510px;
    max-width: 100%;
    height: auto;
    
    border-radius: 10px;
}

.secao10 h2{
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    
    color: var(--cor-complementar);
    padding: 10px;
    margin-bottom: 10px;
    
    border-radius: 10px;
    border: solid 1px #00eeffa6;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;
}

.secao10 h3{
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.secao10 ul{
    display: flex;
    justify-content: start;
    flex-direction: column;
    
    padding: 20px;

    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

    border-radius: 10px;
    border: solid 1px #00eeffa6;
    
    background-color: #00eeffa6;
    backdrop-filter: blur(4px);
    box-shadow:  0 0 20px #40f2ffc5;
    
    color: var(--cor-complementar);
}

.secao10 li{
    margin-left: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 100px;
    padding: 20px;

    width: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--cor-terciaria);
}

footer p{
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    
    color: var(--cor-complementar);
    text-align: center;
    margin-bottom: 20px;
}

footer ul{
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    
    color: var(--cor-complementar);
    padding-left: 25px;
}

